@import "snippet";
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

// GENERAL STYLES
* {
  font-family: "Press Start 2P", cursive;
  font-size: 1rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

img {
  width: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin: 0;
  padding: 20px 0;
  color: #fd4c4c;
  text-shadow: 1px 1px 2px black;
}

section {
  padding: 20px 0;
}

//HEADER STYLES

h1 {
  font-size: 3.5em;
  line-height: 1.25;
  margin: 0;
}

.navbar {
  background-image: url(../images/pikachu-hero.jpg);
  background-position: 20% 60%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

.navbar a {
  color: white;
  padding: 10px;
  margin: 0 5px;
}

.navbar a:hover {
  border-bottom: 5px solid white;
}

.navbar ul {
  display: flex;
}

.logo {
  width: 30%;
  height: 30%;
}

.navbar .grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  grid: 10vh;
  justify-content: center;
  align-items: center;
}

.pikachuGif {
  width: 200px;
}

.itemOne {
  grid-column: 1 / 2;
}

.itemFour {
  grid-row-start: 3;
  grid-column-start: 1;
}

// GENERATOR SECTION

.grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 60px;
  height: 100%;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

.generatedImage,
.generatedName,
.generatorBtn,
.favBtn {
  width: 100%;
}

.generatedImage {
  background: #fe5858;
  clip-path: circle(50% at 50% 50%);
  width: 200px;
  height: 200px;
}

.generatedName {
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
  background: white;
  padding: 10px;
  border-radius: 40px;
}

.gridTwo {
  grid-row-start: 1/3;
}

.gridThree {
  grid-row-start: 3;
  grid-column-start: 1;
}

.gridFour {
  grid-column-start: 3;
}

.gridFive {
  grid-column-start: 3;
  grid-row-start: 3;
}

.generatorContainer {
  background-image: url(../images/pokemonCharmander.jpg);
  background-position: 30% 0%;
  background-size: cover;
  background-color: #c99494;
  background-blend-mode: screen;
}

.generatorBtn {
  margin: 0 auto;
}

.btn {
  font-family: "Press Start 2P", cursive;
  border-radius: 20px;
  background: #fe5858;
  padding: 10px;
  margin: 10px;
}

// Stats Section

h3 {
  font-size: 1.25rem;
  padding: 10px;
}

.statsContainer {
  background-image: url(../images/pokemonBulbusar.jpg);
  background-size: cover;
  background-color: #c99494;
  background-blend-mode: screen;
}

.gridStatsContainer {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  height: 100%;
  padding: 50px;
  text-align: center;
}

.statsBox {
  border: 2px solid #fe5858;
  border-radius: 40px;
  background: #f5f5f5;
}

.statsBox:hover {
  background: #fd4c4ca6;
}

.statsBox p {
  font-size: 1rem;
}

// Favourite Pokemon Section
.favouriteContainer {
  background-image: url(../images/pokemonSquirtle.jpg);
  background-size: cover;
  background-color: #c99494;
  background-blend-mode: screen;
  height: auto;
  padding: 20px 0;
}

.favouriteContainer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.favouriteContainer li {
  font-size: 2rem;
  padding: 20px;
  text-align: center;
}

// Footer Section
footer p {
  text-align: center;
  margin: 0;
}

footer {
  background: #fe5858;
  color: white;
  margin: 0 auto;
}

footer a {
  color: white;
}

// MEDIA QUERIES

@media (max-width: 472px) {
  //header section
  h1 {
    font-size: 2.75em;
    color: #fd4c4c;
    text-shadow: 1px 1px 2px black;
    text-align: center;
  }

  .navbar {
    background-image: url(../images/pikachu-hero.jpg);
    background-position: 8% 60%;
    height: 30vh;
    background-color: #723d3d;
    background-blend-mode: screen;
  }

  .pikachuGif {
    display: none;
  }

  .logoDiv {
    text-align: center;
  }

  .logo {
    width: 50%;
    height: 45%;
  }

  .navbar ul {
    display: none;
  }

  //generator section

  .grid {
    display: flex;
    flex-direction: column;
  }

  .btn {
    width: 40%;
  }

  //stats container

  .gridStatsContainer {
    display: flex;
    flex-direction: column;
  }
}
